@import '../settings.scss';

.contact{
    margin-bottom: 150px;
    p{
        text-align: center;
        margin:8px 0;
        font-weight: 300;
    }
    form{
        @include flex-column;
        position: relative;
        
        input, textarea{
            font-weight: 300;
            width:100%;
            max-width: 600px;
            padding:10px;
            margin:10px 0;
            border-radius: 3px;
            border-style: none;
            border:1px solid rgba(48,42,139,0.2);
            box-shadow: inset 0px 0px 34px -13px rgba(134,129,213,0.20);
            
            &:focus-visible{
                outline:none;
                border:1px solid $dark-purple;
            }
        }

        .form-message{
            transition-property: opacity;
            transition: 0.8s ease-out;
            position: absolute;
            bottom:-70px;
            &.validation-message{color:green;}
            &.error-message{color:red;}
        }

        button{
            margin-top:20px;
            justify-content: space-around;
            background-color: $dark-purple;
            transition-property: backgrond-color;
            transition: 0.3s ease-out;

            &:hover{
                background-color:#463EC2 !important;
            }
            figure{
                margin:0;
                width:51px;
            }
        }

        textarea{
            min-height:100px;
        }
    }
}

@media screen and (min-width:500px){
    .contact{
        input,textarea{
            width:80%;
        }
    }
}