@import "../settings.scss";

.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    .navigation-list{
        flex-direction: column;
        align-items: center;
        display:flex;
        flex:2;
        .logo{
            width:171px;
        }
        ul{
            display:flex;
            
            li{
                margin: 10px;
                font-weight: 300;
                cursor: pointer;
            }
        }
    }
    .language , .moon{
        margin:0 10px;
        cursor: pointer;
    }
}

@media screen and (min-width:720px){
    .navigation{
        flex-direction: row;
        .navigation-list{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}