@import "../settings.scss";

.projects{
    width:100%;
    margin-bottom: 80px;
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin:20px;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;
            position: relative;

            &.active::after{
                content:"";
                position:absolute;
                margin-top:3px;
                bottom:-3px;
                left:0;
                right:0;
                background-color:$dark-purple;
                height:3px;
                border-radius:0 10px 10px 0;
            }
        }
    }

    /******** PROJECT THUMBNAILS ********/
    .portfolio-items{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin:0 auto;
        cursor:pointer;

        >div{
            margin:10px;
            max-width:287px;

            figure{
                margin:0;
                width:287px;
                height:287px;

                img{
                    width:100%;
                }
            }
        }
    }

    h3{
        font-size:14px;
        font-weight: 400;
    }
}