@import "../settings.scss";

.profile{
    @include flex-column;
    text-align: center;
    margin:0 auto 0;
    // height:100vh;

    h1{
        font-size: 35px;
        span{
            color:$dark-purple;
        }
    }
    p{
        font-weight: 300;
    }
    .button-container p{
            text-transform: uppercase;
            font-weight: 400;
            color:$dark-purple;
            margin-bottom:-15px;
        
    }
}



//ANIMATION
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function:cubic-bezier(.08,1.05,.99,.99);
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    80%{
        opacity:1;
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
    }
} 


.arrow-animation{
    animation: 0.7s ease-in-out infinite alternate-reverse arrow-animation;
}
@keyframes arrow-animation {
    0% {
        -webkit-transform: translateY(20%);
        transform:translateY(20%)
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
} 



@media screen and (min-width:1920px){
    .profile {
        height:100vh;
        h1{
            font-size: 45px;
        }
    }
}