@import "../settings.scss";

.profile{
    @include flex-column;
    text-align: center;
    margin:0 auto 0;
    // height:100vh;

    h1{
        font-size: 35px;
        span{
            color:$dark-purple;
        }
    }
    p{
        font-weight: 300;
    }
    .typed-cursor{
        color: #8681D5;
        opacity:0.5;
    }
    .profile-container{
        max-width: 450px;
        width:60%;
    }
    .button-container{
        cursor: pointer;
        p{
                text-transform: uppercase;
                font-weight: 400;
                color:$dark-purple;
                margin-bottom:-15px;
            
        }
    } 
}



//ANIMATIONS
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function:cubic-bezier(.08,1.05,.99,.99);
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    80%{
        opacity:1;
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
    }
} 


.arrow-animation{
    animation: 0.7s ease-in-out infinite alternate-reverse arrow-animation;
    margin-top: 20px;
}
@keyframes arrow-animation {
    0% {
        -webkit-transform: translateY(20%);
        transform:translateY(20%)
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
} 



@media screen and (min-width:1920px){
    .profile {
        height:100vh;
        justify-content: flex-start;
        margin:100px auto 0;
        h1{
            font-size: 45px;
        }
    }
}