@import "../settings.scss";

.home{
    transition-property: background-color;
    transition: 0.8s ease-out;
    background-image: url('../../assets/bg-lines.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 93%;
    .container{
        margin:0 auto;
        max-width:1440px;
        padding:0 20px;
        @include flex-column;
    }
}

@media screen and (min-width:720px){
    .home{
        background-position-y: 90%;
    }
}

@media screen and (min-width:500px){
    .home .container{
        padding:0 50px;
    }
}